/* WEB EXPERIENCE TOOLKIT (WET) | BOITE A OUTILS DE L'EXPERIENCE WEB (BOEW)
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
#cn-skip-head {float: none;}
#cn-skip-head a:link, #cn-skip-head a:visited {filter:alpha(opacity=0);}
#cn-skip-head a:hover, #cn-skip-head a:focus, #cn-skip-head a:active {filter:alpha(opacity=100);}


