/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/

/* GENERIC UTILITY CSS | CSS D'UTILITE GENERIQUE */
.fontSize200 {font-size: 200%;}
.fontSize195 {font-size: 195%;}
.fontSize190 {font-size: 190%;}
.fontSize185 {font-size: 185%;}
.fontSize180 {font-size: 180%;}
.fontSize175 {font-size: 175%;}
.fontSize170 {font-size: 170%;}
.fontSize165 {font-size: 165%;}
.h1Size, .fontSize160 {font-size: 160%;}
.fontSize155 {font-size: 155%;}
.h2Size, .fontSize150 {font-size: 150%;}
.fontSize145 {font-size: 145%;}
.big, .h3Size, .fontSize140 {font-size: 140%;}
.fontSize135 {font-size: 135%;}
.h4Size, .fontSize130 {font-size: 130%;}
.fontSize125 {font-size: 125%;}
.h5Size, .fontSize120 {font-size: 120%;}
.fontSize115  {font-size: 115%;}
.h6Size, .fontSize110, h1.headline, h2.headline, h3.headline, h4.headline, h5.headline, h6.headline {font-size: 110%;}
.fontSize105 {font-size: 105%;}
.fontSize100 {font-size: 100%;}
.fontSize95 {font-size: 95%;}
.fontSize90 {font-size: 90%;}
.mediumFont, .fontSize85 {font-size: 85%;}
.fontSize80 {font-size: 80%;}
.smallFont, .fontSize75 {font-size: 75%;}
.fontSize70 {font-size: 70%;}

div.navaid, p.navaid, h1.navaid, h2.navaid, .navaid {height: 1px; width: 1px; overflow: hidden; float: right; font-size: 0; position: absolute; top:auto; left: -10000px;}
div.navaid a, p.navaid a, h1.navaid a, h2.navaid a, .navaid a {color: #FFFFFF;}

.widthFull {width: 98.5%;}
.width95 {width: 95%;}
.width90 {width: 90%;}
.width85 {width: 85%;}
.width80 {width: 80%;}
.width75 {width: 75%;}
.width70 {width: 70%;}
.width65 {width: 65%;}
.width60 {width: 60%;}
.width55 {width: 55%;}
.width50 {width: 50%;}
.width45 {width: 45%;}
.width40 {width: 40%;}
.width35 {width: 35%;}
.width30 {width: 30%;}
.width25 {width: 25%;}
.width20 {width: 20%;}
.width15 {width: 15%;}
.width10 {width: 10%;}
.width5 {width: 5%;}

div.gcinits {float: left; padding-bottom: 5px;}
div.gcinit div {width: 191px; height: 5.16em; border: 1px solid #000;}
div.gcinit a, div.gcinit a:visited {width: 100%; height: 100%; float: left; text-decoration: none;}

/* ALIGNMENT UTILITY CSS | CSS D'UTILITE D'ALIGNEMENT */
.alignRight {text-align: right;}
.alignCenter {text-align: center;}
.alignLeft {text-align: left;}
.alignTop {vertical-align: top;}
.alignBottom {vertical-align: bottom;}
.alignTopRight {text-align: right; vertical-align: top;}
.alignTopCenter {text-align: center; vertical-align: top;}
.alignTopLeft {text-align: left; vertical-align: top;}
.alignBottomRight {text-align: right; vertical-align: bottom;}
.alignBottomCenter {text-align: center; vertical-align: bottom;}
.alignBottomLeft {text-align: left; vertical-align: bottom;}
.floatRight {float: right;}
.floatLeft {float: left;}
.image-left {float: left; vertical-align: text-top;}
.image-right {float: right; vertical-align: text-top; margin-left: 10px;}

.indent1 {padding-left: 18px;}
.indent2 {padding-left: 36px;}
.indent3 {padding-left: 54px;}
.indent4 {padding-left: 72px;}
.indent5 {padding-left: 90px;}

/* LIST UTILITY CSS | CSS D'UTILITE DE LISTE */
ul.noBullet {list-style-type: none;}
ul.disc {list-style-type: disc;}
ul.square {list-style-type: square;}
ul.circle {list-style-type: circle;}
ol.lower-alpha {list-style-type: lower-alpha;}
ol.upper-alpha {list-style-type: upper-alpha;}
ol.lower-roman {list-style-type: lower-roman;}
ol.upper-roman {list-style-type: upper-roman;}

/* TEXT UTILITY CSS | CSS D'UTILITE DE TEXTE */
.noWrap {white-space: nowrap;}
.doubleLineSpace {line-height: 200%;}
.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.black {color: #000; background-color: transparent;}
.white {color: #FFF; background-color: transparent;}
.red {color: #C00; background-color: transparent;}
.blue {color: #00F; background-color: transparent;}
.green {color: #093; background-color: transparent;}
.grey {color: #999; background-color: transparent;}
.deepyellow {color: #FC3; background-color: transparent;}
.blackBG {background-color: #000;}
.whiteBG {background-color: #FFF;}
.redBG {background-color: #C00;}
.blueBG {background-color: #00F;}
.greenBG {background-color: #093;}
.lightgreyBG {background-color: #CCC;}
.deepyellowBG {background-color: #FC3;}
div.highlight, p.highlight {border: 1px solid #030; background-color: #9F9; padding: 5px;}
div.center div.wrapContainer {float: left; width: 99.5%;}
div.left div.wrapContainer, div.right div.wrapContainer {float: left; width: 100%;}
