/* WEB EXPERIENCE TOOLKIT (WET) | BOITE A OUTILS DE L'EXPERIENCE WEB (BOEW)
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
#cn-head {background: #FF9;}
#cn-foot {background: #CCC;}
#cn-head-inner, #cn-foot-inner, #cn-left-col-inner, #cn-right-col-inner {padding: 5px 10px;}

#cn-left-col, #cn-left-col-gap {background: #CC9;} 
#cn-right-col, #cn-right-col-gap {background: #99F;}

#cn-centre-col, #cn-centre-col-gap {background: #9C9;}
#cn-body-inner-1col #cn-centre-col-inner {padding: 0 10px;}
dl dd {margin-left: 0px;}
dl dd ul {margin-top: 0;}


