/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
div#cn-skip-head a:link, div#cn-skip-head a:visited {color: #FF9;}
div#cn-skip-head a:hover, div#cn-skip-head a:focus, div#cn-skip-head a:active {color: #FFF;}
dl dd ul {margin-left: 0;}


