/* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/

#cn-left-col ul li li, #cn-right-col ul li li {margin-right: -5px;}
#cn-left-col form a {margin-right: -5px; width: 100%;}
#cn-right-col-inner div {border: 1px solid #000; margin-bottom: 10px;}
#cn-right-col-inner div div {border: none; padding-left: 0; padding-right: 0;}
#cn-right-col-inner div p {margin: 1em 9px 1em 9px;}
#cn-cmb ul li {width: 23%;}
#cn-cmb ul li a {height: 1.25em;}
#cn-cmb #cn-cmb1 a {border: none;}
#cn-cmb #cn-cmb4 {width: 23%;}
#cn-in-pd {height: 50px;}
#cn-in-pd #cn-sig, #cn-toppage-foot, #cn-in-pd-links {position: absolute; width: 100%;}
#cn-toppage-foot {left: 0;}
