/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
div#cn-bcrumb h2, div#cn-cmb h3, div#cn-in-pd h3 {position: absolute; left: -9000px; font-size: 10%;}

div#cn-skip-head a:hover, div#cn-skip-head a:focus, div#cn-skip-head a:active {background-color: #363;}
div#cn-head {float: left;}
ul#cn-lang-links {margin-top: 0;}
ul#cn-lang-links {float: left; width: 40%; list-style-type: none; margin-left: -40px;}
ul#cn-lang-links li {position: relative; float: left; padding: 0 1em 5px 0; font-weight: bold; background-color: #FFF; z-index: 2;}

div#cn-wmms {float: right; text-align: right; width: 39.8%; min-width: 90px;}

div#cn-banner, div#cn-banner-eng, div#cn-banner-fra {float: left; width: 100%; padding-bottom: 10px; text-align: center; background-color: #363;}
div#cn-banner p#cn-banner-text, div#cn-banner-eng p#cn-banner-text, div#cn-banner-fra p#cn-banner-text {width: 100%; margin: 0; padding: 15px 0 5px 0; color: #FFF; font-weight: bold; font-size: 150%;}

div#cn-bcrumb ol {padding-top: 0; line-height: 1.5em; margin: 0; padding-left: 0; list-style-type: none; float: left; width: 100%; clear: right;}
div#cn-bcrumb li {margin-top: 0; padding-top: 0; float: left; margin-right: 0.3em; white-space: nowrap;}

div#cn-left-col, div#cn-left-col-gap {background-color: #CC9;}
div#cn-left-col h3 {padding: 2px 5px; background-color: #363; color: #FFF; margin-top: 0; margin-bottom: 0; font-size: 110%;}
div#cn-left-col div#cn-search-box {margin: 5px 0 0 10px;}
div#cn-left-col div#cn-search-box input#cn-search {border: 1px solid #363; margin-right: 5px; width: 92%;}
div#cn-left-col div#cn-search-box input#cn-search-submit {background-color: #363; color: #FFF; font-weight: bold;}
div#cn-left-col div#cn-search-box a {margin-left: -10px;}
div#cn-left-col li {border-top: 1px solid #363;}
div#cn-left-col li:first-child {border: none;}

div#cn-left-col a, div#cn-right-col a {display: block; padding: 3px 5px 3px 10px;}
div#cn-left-col a:link, div#cn-right-col a:link {color: #000; text-decoration: none;}
div#cn-left-col a:visited, div#cn-right-col a:visited {color: #636; text-decoration: none;}
div#cn-left-col a:hover, div#cn-left-col a:focus, div#cn-left-col a:active, div#cn-right-col a:hover, div#cn-right-col a:focus, div#cn-right-col a:active {color: #CC9; background-color: #030; outline: none;}
div#cn-left-col ul, div#cn-right-col ul {list-style-type: none; margin-top: 0; margin-bottom: 0;}
div#cn-left-col ul ul, div#cn-right-col ul ul {list-style-type: disc;}
div#cn-left-col li, div#cn-right-col li {margin-left: -40px;}
div#cn-left-col li li, div#cn-right-col li li {margin-left: 0; padding: 0; border: none;}
div#cn-left-col li li a, div#cn-right-col li li a {padding: 1px 5px 1px 5px; margin-left: -5px;}

div#cn-right-col h3 {padding: 2px 5px; background-color: #363; color: #FFF; margin-top: 0; margin-bottom: 0; font-size: 110%;}
div#cn-right-col h3 + div {border: 1px solid #000; background-color: #FFF; padding-left: 8px; padding-right: 5px; margin-bottom: 10px;}
div#cn-right-col h3 + div ul a {margin-left: -8px; margin-right: -5px; padding-left: 8px;}
div#cn-right-col ul {margin-bottom: 5px;}
div#cn-right-col ul ul {margin-bottom: 0px;}
div#cn-right-col li {margin-left: -40px;}
div#cn-right-col li a img {margin-top: -3px; margin-left: -10px;}

div#cn-body-inner-3col div#cn-centre-col, div#cn-body-inner-2col div#cn-centre-col {clear: left;}
div#cn-centre-col-inner h1 {margin-top: 0;}
dl#cn-doc-dates {margin-top: 0; padding: 3px;}
dl#cn-doc-dates dt {padding-right: 0.3em; float: left;}
dl#cn-doc-dates dd {margin-left: 0px;}
dl#cn-doc-dates dd span {white-space: nowrap;}

div#cn-foot {height: 4.65em;}

div#cn-cmb, div#cn-cmb ul li, div#cn-cmb ul li a:link, div#cn-cmb ul li a:visited {background-color: #363;}
div#cn-cmb {width: 100%; float: left;}
div#cn-cmb ul {list-style-type: none; margin: 0; padding-left: 0; height: 1.57em;}
div#cn-cmb ul li {float: left; width: 25%; min-width: 9.5em; height: 1.51em;}
div#cn-cmb ul li a {display: block; text-align: center; width: 100%; padding: 0.16em 0px 0.16em 0px; border-left: 1px solid #FFF; white-space: nowrap; font-weight: bold;}
div#cn-cmb ul li:first-child a {border-left: none;}
div#cn-cmb ul li a:link, div#cn-cmb ul li a:visited {color: #FFF; background-color: #363; text-decoration: none;}
div#cn-cmb ul li a:hover, div#cn-cmb ul li a:active, div#cn-cmb ul li a:focus {color: #000; background-color: #CCC;}

div#cn-in-pd ul {list-style-type: none; margin: -2px 0 0 -40px;}
div#cn-in-pd div#cn-sig, div#cn-in-pd div#cn-topPage-foot, div#cn-in-pd div#cn-in-pd-links {margin: 10px 0; width: 33%;}
div#cn-in-pd div#cn-sig {float: left; clear: left; min-width: 205px; }
div#cn-in-pd div#cn-topPage-foot {float: left; text-align: center; position: relative; left: 5px; min-width: 4em;}
div#cn-in-pd div#cn-in-pd-links {float: right; text-align: right; min-width: 4em;}

div.cn-topPage, div#cn-topPage-foot {text-align: center; padding-top: 13px; background-image: url(../images/tphp.gif); background-repeat: no-repeat; background-position: top center;}
div.cn-topPage {float: right;}
