/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
#cn-lang-links {margin-left: 0;}
#cn-cmb ul {height: auto;}
#cn-bcrumb ol {margin: 1px 0 3px 0; clear: left;}
#cn-bcrumb li {padding-bottom: 3px;}

#cn-left-col #cn-search-box {margin-top: -15px;}
#cn-left-col #cn-search-box a {margin-bottom: -19px;}
#cn-right-col h3 + div p {margin-top: 1em; margin-bottom: 1em;}

#cn-cmb ul {height: auto; overflow: hidden;}
#cn-cmb ul li {width: 24.9%;}
#cn-cmb #cn-cmb4 {width: 25%;}
#cn-in-pd #cn-sig, #cn-toppage-foot, #cn-topPage-foot, #cn-in-pd-links {width: 29%;}
#cn-toppage-foot, #cn-topPage-foot {left: 60px;}