/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
@media print {
	div#cn-head {float: none;}
	div#cn-leaf, div#cn-bcrumb, div.cn-topPage, div#cn-banner p, div#cn-banner-eng p, div#cn-banner-fra p, div#cn-cmb, div#cn-in-pd div#cn-topPage-foot, div#cn-in-pd div#cn-in-pd-links {display: none;}
	div#cn-wmms {margin: 0; padding: 0;}
	div#cn-banner, div#cn-banner-eng, div#cn-banner-fra {float: left; width: 100%; background-color: transparent; text-align: left;}
	div#cn-banner p#cn-banner-text, div#cn-banner-eng p#cn-banner-text, div#cn-banner-fra p#cn-banner-text {float: left; width: 100%; color: #000; padding: 0; margin: 0; margin-top: 36px; text-align: center;}
	div#cn-centre-col {border-top: 1px solid #000; padding-top: 10px;}
	div#cn-foot {border-top: 1px solid #000; position: static;}
}
