/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
div#cn-body-inner-1col {padding: 0; width: auto;}

/* Hide hidden heading elements */
div#cn-body-inner-1col h1, div#cn-in-pd h3 {position: absolute; left: -9000px; font-size: 10%;}

div#cn-skip-head a:hover, div#cn-skip-head a:focus, div#cn-skip-head a:active {background-color: #363;}
div#cn-head {float: left;}
div#cn-sig {float: left; width: 50%; min-width: 300px;}
div#cn-wmms {float: right; text-align: right; width: 49.8%; min-width: 100px;}

div#cn-centre-col-inner h1 {margin-top: 0;}
div#cn-left-msg, div#cn-right-msg {width: 49%;}
div#cn-left-msg {float: left;}
div#cn-right-msg {float: right;}

div#cn-foot {border-top: 15px solid #363; height: 3em; margin-top: 10px;}

div#cn-in-pd ul {list-style-type: none; margin: -2px 0 0 -40px;}
div#cn-in-pd ul li {width: 48%; margin-top: 5px;}
li#cn-inotices-link-left {float: left;}
li#cn-inotices-link-right {float: right; text-align: right;}
