/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
#cn-skip-head {float: none;}
#cn-skip-head #cn-sh-link-1 {right: 51%;}
#cn-skip-head #cn-sh-link-2 {left: 51%;}

#cn-head {float: none;}
#cn-cmb ul {height: auto; overflow: hidden;}
#cn-cmb ul li {width: 16.6%; padding-bottom: 1px;}
#cn-bcrumb ol {margin: 1px 0 3px 0; clear: left; line-height: 1.25em;}
#cn-bcrumb li {padding-bottom: 3px;}

#cn-left-col #cn-search-box {margin-top: -15px;}
#cn-left-col #cn-search-box a {margin-bottom: -19px;}
#cn-right-col h3 + div p {margin-top: 1em; margin-bottom: 1em;}
#cn-centre-col-inner {margin-bottom: 1em;}

#cn-in-pd #cn-sig, #cn-toppage-foot, #cn-topPage-foot, #cn-in-pd-links {width: 28%;}
