/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
div#cn-centre-col-inner {display: inline-block;} 
ul#cn-in-links {display: inline-block; float: none;}
div#cn-sig {margin-bottom: 10px;}
div#cn-msg-space {height: 250px;}
div#cn-lower-msg {height: 120px;}
