/* GC WEB TEMPLATE | MODELE DE PAGE WEB DU GC
TERMS AND CONDITIONS OF USE: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
CONDITIONS REGISSANT L'UTILISATION : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
#cn-centre-col-inner {display: inline-block;} 
#cn-in-links {display: inline-block; float: none;}
#cn-sig {margin-bottom: 10px;}
#cn-msg-space {height: 250px;}
#cn-lower-msg {height: 120px;}
