@charset "utf-8";
/*!
 * CSS Grid System v1.3a2 / Système de grille CSS v1.3a2
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */

/* ---- Override wireframe dimension ---- */
#cn-gcnb-inner, #cn-banner-inner, #cn-psnb-inner, #cn-bc-inner, #cn-cols-inner, #cn-gcft-inner, #cn-sft-inner,#cn-banner-inner {width: 768px !important;}  
#cn-body-inner-2col #cn-left-col {width:182px !important;margin:0 5px !important;}
#cn-body-inner-2col #cn-centre-col {width:576px !important;}

/* ---- Add margin left and right to elements that are used outside a grid cell, as they must still match the grid dimensions ---- */
h1,h2,h3,h4,h5,h6,p,blockquote,table,form,img,pre{margin-left:5px;margin-right:5px;}
.float-right{margin-right:5px;}

/* ---- Reset margin left and right to elements that are used inside a grid cell */
img.float-right{margin-left:5px;}

/* ---- Dimensions */
.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12{margin-left:5px;margin-right:5px;}
#cn-body-inner-2col .grid-12 .span-1{width:38px;}
#cn-body-inner-1col .grid-12 .span-1{width:54px;}
.span-1,#cn-body-inner-2col .grid-12 .span-2{width:86px;}
#cn-body-inner-1col .grid-12 .span-2{width:118px;}
#cn-body-inner-2col .grid-12 .span-3{width:134px;}
.span-2,#cn-body-inner-2col .grid-12 .span-4,#cn-body-inner-1col .grid-12 .span-3{width:182px;}
#cn-body-inner-2col .grid-12 .span-5{width:230px;}
#cn-body-inner-1col .grid-12 .span-4{width:246px;}
.span-3,#cn-body-inner-2col .grid-12 .span-6{width:278px;}
#cn-body-inner-1col .grid-12 .span-5{width:310px;}
#cn-body-inner-2col .grid-12 .span-7{width:326px;}
.span-4,#cn-body-inner-2col .grid-12 .span-8,#cn-body-inner-1col .grid-12 .span-6{width:374px;}
#cn-body-inner-2col .grid-12 .span-9{width:422px;}
#cn-body-inner-1col .grid-12 .span-7{width:438px;}
.span-5,#cn-body-inner-2col .grid-12 .span-10{width:470px;}
#cn-body-inner-1col .grid-12 .span-8{width:502px;}
#cn-body-inner-2col .grid-12 .span-11{width:518px;}
.span-6,#cn-body-inner-2col .grid-12 .span-12,#cn-body-inner-1col .grid-12 .span-9{width:566px;}
#cn-body-inner-1col .grid-12 .span-10{width:630px;}
.span-7{width:662px;}
#cn-body-inner-1col .grid-12 .span-11{width:694px;}
.span-8,#cn-body-inner-1col .grid-12 .span-12{width:758px;}

/* ---- Borders ----*/
#cn-body-inner-2col .grid-12 .border-span-1{background-image:url(images/border-38px.gif);}
#cn-body-inner-1col .grid-12 .border-span-1{background-image:url(images/border-54px.gif);}
.border-span-1,#cn-body-inner-2col .grid-12 .border-span-2,.module-versatile{background-image:url(images/border-86px.gif);}
#cn-body-inner-1col .grid-12 .border-span-2,.module-versatile{background-image:url(images/border-118px.gif);}
#cn-body-inner-2col .grid-12 .border-span-3{background-image:url(images/border-134px.gif);}
.border-span-2,.module-versatile,#cn-body-inner-2col .grid-12 .border-span-4,#cn-body-inner-1col .grid-12 .border-span-3{background-image:url(images/border-182px.gif);}
#cn-body-inner-2col .grid-12 .border-span-5{background-image:url(images/border-230px.gif);}
#cn-body-inner-1col .grid-12 .border-span-4{background-image:url(images/border-246px.gif);}
.border-span-3,#cn-body-inner-2col .grid-12 .border-span-6{background-image:url(images/border-278px.gif);}
#cn-body-inner-1col .grid-12 .border-span-5{background-image:url(images/border-310px.gif);}
#cn-body-inner-2col .grid-12 .border-span-7{background-image:url(images/border-326px.gif);}
.border-span-4,.module-table-contents,.module-welcomepage,#cn-body-inner-2col .grid-12 .border-span-8,#cn-body-inner-1col .grid-12 .border-span-6{background-image:url(images/border-374px.gif);}
#cn-body-inner-2col .grid-12 .border-span-9{background-image:url(images/border-422px.gif);}
#cn-body-inner-1col .grid-12 .border-span-7{background-image:url(images/border-438px.gif);}
.border-span-5,#cn-body-inner-2col .grid-12 .border-span-10{background-image:url(images/border-470px.gif);}
#cn-body-inner-1col .grid-12 .border-span-8{background-image:url(images/border-502px.gif);}
#cn-body-inner-2col .grid-12 .border-span-11{background-image:url(images/border-518px.gif);}
.border-span-6,#cn-body-inner-2col .grid-12 .border-span-12,#cn-body-inner-1col .grid-12 .border-span-9{background-image:url(images/border-566px.gif);}
#cn-body-inner-1col .grid-12 .border-span-10{background-image:url(images/border-630px.gif);}
.border-span-7{background-image:url(images/border-662px.gif);}
#cn-body-inner-1col .grid-12 .border-span-11{background-image:url(images/border-694px.gif);}
.border-span-8,#cn-body-inner-1col .grid-12 .border-span-12{background-image:url(images/border-758px.gif);}

/* ---- Other ----*/
.span-2 .calendar-month td,.span-2 .calendar-month th{width:26px;height:32px;padding:2px 3px;}
#cn-body-inner-2col .grid-12 .span-4 .calendar-month td,#cn-body-inner-2col .grid-12 .span-4 .calendar-month th{width:26px;height:32px;padding:2px 3px;}
#cn-body-inner-1col .grid-12 .span-3 .calendar-month td,#cn-body-inner-1col .grid-12 .span-3 .calendar-month th{width:26px;height:32px;padding:2px 3px;}